body {
  font-size: 14px;
  font-family: $regular-font;
  color: $text-color;
  margin: 0;
  padding: 0;
  min-width: 320px;
  line-height: 1.3;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  text-transform: uppercase;
  line-height: 1.2;
}

p {
  margin: 0 0 15px;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media (max-width: $mobile-width) {
  body {
    font-size: 12px;
  }
}
