@import "blocks/variables.scss";
@import "blocks/layout.scss";
@import "blocks/normalize.scss";
@import "blocks/button.scss";
@import "blocks/header.scss";
@import "blocks/menu.scss";
@import "blocks/about.scss";
@import "blocks/top.scss";
@import "blocks/news.scss";
@import "blocks/callback.scss";
@import "blocks/footer.scss";
@import "blocks/popap.scss";
